body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h2 {
  width: fit-content;
}

button {
  width: 30px;
}

.item {
  display: flex;
  width: 200px;
}

.item-desc {
  margin-left: 10px;
  width: 100px;
}
